<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		title Chat-Room
		link(rel="stylesheet" href="main.css")
		link(rel="stylesheet" href="css/font-awesome.min.css")
	body
		block login

		script(src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js")
		script(src="/socket.io/socket.io.js")
		script(src="index.js")